.button {
  background-color: none;
  color: $brand-primary;
  text-transform: lowercase;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 22px;
  padding: 10px 18px;
  border: 1px solid $brand-primary;

  &-small {
    padding: 2px 15px;
    font-size: 16px;
    text-transform: uppercase;
  }

  &-inverted {
    text-transform: uppercase;
    padding: 4px 15px;
    font-size: 10px;
  }
}
